.reviewsHeading {
    color: #000000be;
    font: 500 1.4vmax "Roboto";
    text-align: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.226);
    padding: 1vmax;
    width: 20vmax;
    margin: auto;
    margin-bottom: 4vmax;
  }
  .circleAvatar {
    border-radius: 50%;
    width: 5vmax; /* or any desired dimension */
    height: 5vmax; /* should match width to ensure a circle */
    object-fit: cover;
  }
  .reviews {
    display: flex;
    overflow: scroll;
    margin-top: 5vmax;
    text-align: center;
    justify-content:space-evenly;
    margin-bottom: 5vmax;
  }

  .reviewCard {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.226);
    border: 1px solid rgba(56, 56, 56, 0.116);
    width: 30vmax;
    display: flex;
    border-radius: 0.7vmax;
    flex-direction: column;
    align-items: center;
    margin: 1vmax;
    padding: 3vmax;
  }
  .reviewCard > img {
    width: 5vmax;
  }
  .reviewCard > p {
    color: rgba(0, 0, 0, 0.836);
    font: 600 0.9vmax "Roboto";

  }
  .reviewCardComment {
    color: rgba(0, 0, 0, 0.445);
    font: 300 0.8vmax cursive;
    margin-top: 1vmax;
  }
  
  .noReviews {
    font: 400 1.3vmax "Gill Sans";
    text-align: center;
    color: rgba(0, 0, 0, 0.548);
  }